{% extends "base/base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block start %}

<style>
  .para-text {
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    padding-bottom: 30px;
    text-align: justify;
  }
</style>

<section class="section-content padding-bottom">
  <div class="mx-auto" style="max-width: 85rem; margin-top: 30px">
    <div class="container my-5">
      <h2 class="text-center mb-4">Chính sách bảo mật</h2>

      <div class="card p-4">
        <h4 class="text-left mb-2">1. Giới thiệu</h4>
        <p class="para-text">
          Chúng tôi coi trọng quyền riêng tư của bạn và cam kết bảo vệ thông tin cá nhân của bạn.
          Chính sách bảo mật này nêu rõ các loại thông tin chúng tôi
          thu thập và cách chúng tôi sử dụng, tiết lộ và bảo vệ thông tin đó...
        </p>

        <h4 class="text-left mb-2">2. Thông tin chúng tôi thu thập</h4>
        <p class="para-text">
          Chúng tôi thu thập nhiều loại thông tin khác nhau, bao gồm thông tin
          xác định hoặc có thể xác định bạn là một cá nhân ("Thông tin cá nhân").
          Thông tin này bao gồm tên, địa chỉ email, địa chỉ thanh toán và
          giao hàng, và thông tin thanh toán của bạn.
        </p>

        <h4 class="text-left mb-2">3. Tích hợp của bên thứ ba</h4>
        <p class="para-text">
          Khi đăng ký thông qua Google hoặc Facebook, chúng tôi có thể thu thập và lưu trữ
          thông tin bổ sung do các nền tảng này cung cấp để nâng cao
          trải nghiệm người dùng của bạn hoặc kích hoạt các tính năng cụ thể. Chúng tôi xử lý thông tin này
          theo chính sách bảo mật tương ứng của họ và
          thực hiện các biện pháp thích hợp để bảo vệ thông tin cá nhân của bạn.
        </p>

        <h4 class="text-left mb-2">4. Chia sẻ thông tin của bạn</h4>
        <p class="para-text">
          Chúng tôi không chia sẻ thông tin cá nhân của bạn với bên thứ ba trừ khi được
          mô tả trong chính sách này. Chúng tôi có thể tiết lộ thông tin của bạn cho
          các nhà cung cấp dịch vụ giúp chúng tôi vận hành dịch vụ của mình, nhưng chỉ trong phạm vi
          cần thiết để thực hiện chức năng của họ.
        </p>

        <h4 class="text-left mb-2">Contact Us</h4>
        <p class="para-text">
          Nếu bạn có bất kỳ câu hỏi, mối quan tâm hoặc yêu cầu nào liên quan đến
          Chính sách bảo mật này hoặc việc xử lý thông tin cá nhân của bạn, vui lòng
          liên hệ với chúng tôi thông qua thông tin liên hệ được cung cấp trên trang web của chúng tôi.
        </p>
        <!-- Add more sections as needed -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
