{% extends "base/base.html" %} 
{% block title %}Terms and Conditions{% endblock %}
{% load static %} {% block start %}

<style>
    .para-text{
        font-size: 20px;
        font-family: "Gill Sans", sans-serif;
        padding-bottom: 30px;
        text-align: justify;
    }
</style>

<section class="section-content padding-bottom">
    <div class="mx-auto" style="max-width: 85rem; margin-top: 30px">
        <div class="container my-5">
            <h2 class="text-center mb-4">Điều khoản và điều kiện</h2>
            
            <div class="card p-4">
                <h4 class="text-left mb-2">1. Giới thiệu</h4>
                <p class="para-text">
                Các điều khoản và điều kiện này nêu rõ các quy tắc và quy định cho việc sử dụng
                trang web của chúng tôi. Bằng cách truy cập trang web này,
                chúng tôi cho rằng bạn chấp nhận các điều khoản và điều kiện này. Không tiếp tục sử dụng trang web này nếu bạn không đồng ý
                chấp nhận tất cả các điều khoản và điều kiện được nêu trên trang này.
                </p>

                <h4 class="text-left mb-2">2. Cookies</h4>
                <p class="para-text">
                Chúng tôi sử dụng cookie. Bằng cách truy cập trang web này, bạn đã đồng ý
                sử dụng cookie theo thỏa thuận với Chính sách bảo mật của trang web này.
                </p>

                <h4 class="text-left mb-2">3. Giấy phép</h4>
                <p class="para-text">
                Trừ khi có quy định khác, trang web này và/hoặc bên cấp phép sở hữu
                quyền sở hữu trí tuệ đối với mọi tài liệu trên trang web này. Mọi
                quyền sở hữu trí tuệ đều được bảo lưu. Bạn có thể truy cập trang web này từ
                djangoecommerwebsite cho mục đích sử dụng cá nhân của bạn, tuân theo các hạn chế được đặt ra trong
                các điều khoản và điều kiện này.
                </p>

                <h4 class="text-left mb-2">4. Bình luận của người dùng</h4>
                <p class="para-text">
                Một số phần của trang web này cung cấp cho người dùng cơ hội đăng và
                trao đổi ý kiến và thông tin ở một số khu vực nhất định của trang web.
                Trang web này không lọc, chỉnh sửa, xuất bản hoặc xem xét các Bình luận trước khi
                chúng xuất hiện trên trang web.
                </p>

                <p class="para-text">Nếu bạn có bất kỳ câu hỏi hoặc thắc mắc nào về các Điều khoản này, vui lòng <a href="{% url 'contact' %}">Liên Hệ với chúng tôi.</a></p>

                <!-- Add more sections as needed -->
            </div>
        </div>
    </div>
</section>

{% endblock %}
